main {
    padding-bottom: 30px;
    margin-top: 100px;
}
#choice {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
#option1, #option2 {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
}
#option1:not(.highlighted):hover figcaption, #option2:not(.highlighted):hover figcaption{
    color: white;
}
img.option {
    padding: 10px;
    border: 2px solid hsl(0, 0%, 30%);
    border-radius: 100px;
    max-width: 400px;
    max-height: 400px;
    cursor: pointer;
    width: 100%;
}
img.option + figcaption {
    color: gray;
    background-color: hsl(0, 0%, 30%);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px;
    width: fit-content;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
}
#versus-sign {
    font-size: 30px;
    color: yellow;
    background-color: hsl(0, 0%, 40%);
    padding: 5px;
    border-radius: 10px;
    cursor: help;
    flex: 0 0 auto;
    white-space: nowrap;
}
.next-versus {
    color: white;
    background-color: hsl(0, 0%, 30%);
    border: 0;
    border-radius: 15px;
    width: 190px;
    padding: 5px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
    font-size: 30px;
}
.next-versus:hover {
    color: yellow;
}
.end-text {
    display: block;
    width: 400px;
    margin: 300px auto;
    font-size: 40px;
}
.highlighted figure figcaption {
    color: yellow;
}
#back-btn {
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: hsl(0, 0%, 30%);
    border: 0;
    border-radius: 10px;
}
#back-btn:hover {
    background-color: hsl(0, 0%, 
    35%);
}
#back-btn img {
    width: 60px;
    height: 60px;
}